Repository mapbox/mapbox-navigation-ios, pull requests merged in 2018-09, with the labels that each got.

#1644 Restore map template when exiting navigation
  MapboxNavigation/CarPlayManager.swift
  MapboxNavigation/CarPlayMapViewController.swift
  MapboxNavigation/CarPlayNavigationViewController.swift
Labels: - refactor, CarPlay

#1654 Enable style manager in CarPlay
  MapboxNavigation/CarPlayMapViewController.swift
  MapboxNavigation/CarPlayNavigationViewController.swift
  MapboxNavigation/DayStyle.swift
Labels: CarPlay, topic: cartography

#1658 Releasing Version 0.20.0
  CHANGELOG.md
  Examples/Objective-CTests/Info.plist
  Examples/SwiftTests/Info.plist
  MapboxCoreNavigation.podspec
  MapboxCoreNavigation/Info.plist
  MapboxCoreNavigationTests/Info.plist
  MapboxNavigation.podspec
  MapboxNavigation.xcodeproj/project.pbxproj
  MapboxNavigation/Info.plist
  MapboxNavigationTests/Info.plist
  README.md
  RouteTest/Info.plist
  custom-navigation.md
Labels: - build

#1660 Refine navigation among CarPlay templates
  Examples/Swift/AppDelegate.swift
  MapboxNavigation/CarPlayManager.swift
  MapboxNavigation/CarPlayNavigationViewController.swift
Labels: - bug, - refactor, CarPlay

#1664 Use location manager for overview, style switching in CarPlay
  MapboxNavigation/CarPlayMapViewController.swift
  MapboxNavigation/CarPlayNavigationViewController.swift
Labels: - bug, CarPlay, topic: location

#1663 Convert and round distances in CarPlay
  MapboxCoreNavigation/DistanceFormatter.swift
  MapboxCoreNavigation/Route.swift
  MapboxCoreNavigation/RouteProgress.swift
  MapboxNavigation.xcodeproj/project.pbxproj
  MapboxNavigation/CarPlayNavigationViewController.swift
Labels: - bug, CarPlay, topic: localization

#1677 Add app icon to Swift example application
  Examples/Swift/Assets.xcassets/AppIcon.appiconset/AppStore.png
  Examples/Swift/Assets.xcassets/AppIcon.appiconset/CarPlay@2x.png
  Examples/Swift/Assets.xcassets/AppIcon.appiconset/CarPlay@3x.png
  Examples/Swift/Assets.xcassets/AppIcon.appiconset/Contents.json
  Examples/Swift/Assets.xcassets/AppIcon.appiconset/iPad-App.png
  Examples/Swift/Assets.xcassets/AppIcon.appiconset/iPad-App@2x.png
  Examples/Swift/Assets.xcassets/AppIcon.appiconset/iPad-Notifications.png
  Examples/Swift/Assets.xcassets/AppIcon.appiconset/iPad-Notifications@2x.png
  Examples/Swift/Assets.xcassets/AppIcon.appiconset/iPad-Settings.png
  Examples/Swift/Assets.xcassets/AppIcon.appiconset/iPad-Settings@2x.png
  Examples/Swift/Assets.xcassets/AppIcon.appiconset/iPad-Spotlight.png
  Examples/Swift/Assets.xcassets/AppIcon.appiconset/iPad-Spotlight@2x.png
  Examples/Swift/Assets.xcassets/AppIcon.appiconset/iPadPro-App@2x.png
  Examples/Swift/Assets.xcassets/AppIcon.appiconset/iPhone-App.png
  Examples/Swift/Assets.xcassets/AppIcon.appiconset/iPhone-App@3x.png
  Examples/Swift/Assets.xcassets/AppIcon.appiconset/iPhone-Notification@2x.png
  Examples/Swift/Assets.xcassets/AppIcon.appiconset/iPhone-Notification@3x.png
  Examples/Swift/Assets.xcassets/AppIcon.appiconset/iPhone-Spotlight.png
  Examples/Swift/Assets.xcassets/AppIcon.appiconset/iPhone-Spotlight@3x.png
  Examples/Swift/Assets.xcassets/AppIcon.appiconset/iPhone@2x.png
  Examples/Swift/Assets.xcassets/AppIcon.appiconset/iPhone@3x.png
Labels: - bug, CarPlay, topic: design

#1679 Store CI test results
  MapboxCoreNavigationTests/Info.plist
  MapboxNavigationTests/Info.plist
  circle.yml
Labels: ⚠️ DO NOT MERGE

#1665 Fix crash displaying shields in CarPlay
  MapboxNavigation/CarPlayNavigationViewController.swift
  MapboxNavigation/NSAttributedString.swift
  MapboxNavigationTests/InstructionsBannerViewIntegrationTests.swift
Labels: - crash, CarPlay

#1684 Avoid irrelevant search results
  MapboxNavigation.xcodeproj/project.pbxproj
  MapboxNavigation/CarPlayManager+Search.swift
  MapboxNavigation/Locale.swift
Labels: CarPlay

#1680 CarPlay Camera Fixes
  MapboxNavigation/CarPlayManager.swift
  MapboxNavigation/CarPlayMapViewController.swift
  MapboxNavigation/NavigationMapView.swift
Labels: ✓ ready for review

#1693 Use a more flexible destination description for pod integration test
  circle.yml
Labels: CI, ⏎ Ready To Merge

#1698 CarPlay compass
  MapboxNavigation/CarPlayNavigationViewController.swift
  MapboxNavigation/UIEdgeInsets.swift
Labels: CarPlay

#1695 Fold CarPlay-specific styles into main styles
  CHANGELOG.md
  MapboxNavigation/CarPlayMapViewController.swift
  MapboxNavigation/CarPlayNavigationViewController.swift
  MapboxNavigation/DayStyle.swift
  MapboxNavigation/MGLStyle.swift
  MapboxNavigation/Style.swift
Labels: - refactor, CarPlay

#1696 Fix generic shields in CarPlay
  MapboxNavigation/InstructionPresenter.swift
  MapboxNavigation/VisualInstruction.swift
Labels: - bug, CarPlay

#1701 Arrow Direction Fix
  MapboxNavigation/CarPlayNavigationViewController.swift
  MapboxNavigation/VisualInstruction.swift
Labels: CarPlay

#1703 Removes code hiding map template buttons during panning
  MapboxNavigation/CarPlayManager.swift
Labels: CarPlay

#1697 CarPlay assets for a series of screens.
  Examples/Swift/AppDelegate+CarPlay.swift
  MapboxNavigation/CarPlayManager.swift
  MapboxNavigation/CarPlayMapViewController.swift
  MapboxNavigation/Resources/Assets.xcassets/carplay/Contents.json
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_close.imageset/Contents.json
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_close.imageset/carplay_close.pdf
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_feedback.imageset/Contents.json
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_feedback.imageset/carplay_feedback.pdf
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_locate.imageset/Contents.json
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_locate.imageset/carplay_locate.pdf
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_minus.imageset/Contents.json
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_minus.imageset/carplay_minus.pdf
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_overview.imageset/Contents.json
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_overview.imageset/carplay_overview.pdf
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_pan.imageset/Contents.json
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_pan.imageset/carplay_pan.pdf
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_plus.imageset/Contents.json
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_plus.imageset/carplay_plus.pdf
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_search.imageset/Contents.json
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_search.imageset/carplay_search.pdf
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_star.imageset/Contents.json
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_star.imageset/carplay_star.pdf
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_volume_off.imageset/Contents.json
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_volume_off.imageset/carplay_volume_off.pdf
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_volume_on.imageset/Contents.json
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_volume_on.imageset/carplay_volume_on.pdf
Labels: CarPlay

#1710 Revert user puck dead reckoning
  CHANGELOG.md
  MapboxCoreNavigation/CLLocation.swift
  MapboxCoreNavigationTests/LocationTests.swift
  MapboxCoreNavigationTests/RouteControllerTests.swift
Labels: - bug, topic: location

#1719 Map SDK v4.4.1, events v0.5.1
  Cartfile.resolved
Labels: - build

#1721 Updated missing assets that were lost in a merge conflict.
  MapboxNavigation/CarPlayManager+Search.swift
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_volume_on.imageset/Contents.json
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_volume_on.imageset/carplay_volume_on.pdf
  MapboxNavigation/Resources/Assets.xcassets/carplay/carplay_volume_on.imageset/volume_on_btn.pdf
Labels: - bug, CarPlay

#1723 Releasing v0.21.0
  CHANGELOG.md
  Examples/Objective-CTests/Info.plist
  Examples/SwiftTests/Info.plist
  MapboxCoreNavigation.podspec
  MapboxCoreNavigation/Info.plist
  MapboxCoreNavigationTests/Info.plist
  MapboxNavigation-Documentation.podspec
  MapboxNavigation.podspec
  MapboxNavigation.xcodeproj/project.pbxproj
  MapboxNavigation/Info.plist
  MapboxNavigationTests/Info.plist
  README.md
  RouteTest/Info.plist
  custom-navigation.md
Labels: - build

#1735 Fix maneuver arrow when route doubles back on itself
  CHANGELOG.md
  MapboxNavigation.xcodeproj/project.pbxproj
  MapboxNavigation/NavigationMapView.swift
  MapboxNavigation/Route.swift
  MapboxNavigationTests/Fixtures/route-doubling-back.json
  MapboxNavigationTests/RouteTests.swift
Labels: - bug

#1602 Navigation Service, Part 1
  Examples/Objective-C/Base.lproj/Main.storyboard
  Examples/Objective-C/ViewController.m
  Examples/Swift/AppDelegate+CarPlay.swift
  Examples/Swift/CustomViewController.swift
  Examples/Swift/ViewController.swift
  MapboxCoreNavigation/Constants.swift
  MapboxCoreNavigation/CountdownTimer.swift
  MapboxCoreNavigation/EventDetails.swift
  MapboxCoreNavigation/EventsManager.swift
  MapboxCoreNavigation/NavigationLocationManager.swift
  MapboxCoreNavigation/NavigationService.swift
  MapboxCoreNavigation/NavigationServiceDelegate.swift
  MapboxCoreNavigation/ReplayLocationManager.swift
  MapboxCoreNavigation/RouteController.swift
  MapboxCoreNavigation/RouteControllerDelegate.swift
  MapboxCoreNavigation/Router.swift
  MapboxCoreNavigation/RouterDelegate.swift
  MapboxCoreNavigation/SessionState.swift
  MapboxCoreNavigation/SimulatedLocationManager.swift
  MapboxCoreNavigation/TunnelAuthority.swift
  MapboxCoreNavigation/TunnelIntersectionManager.swift
  MapboxCoreNavigationTests/BridgingTests.m
  MapboxCoreNavigationTests/MapboxCoreNavigationTests.swift
  MapboxCoreNavigationTests/NavigationServiceTests.swift
  MapboxCoreNavigationTests/RouteControllerTests.swift
  MapboxCoreNavigationTests/Support/MMEEventsManagerSpy.swift
  MapboxCoreNavigationTests/Support/RouteControllerDelegateSpy.swift
  MapboxCoreNavigationTests/TunnelAuthorityTests.swift
  MapboxCoreNavigationTests/TunnelIntersectionManagerTests.swift
  MapboxCoreNavigationTests/routeWithTunnels_9thStreetDC.json
  MapboxNavigation.xcodeproj/project.pbxproj
  MapboxNavigation/CarPlayManager.swift
  MapboxNavigation/CarPlayNavigationViewController.swift
  MapboxNavigation/FeedbackViewController.swift
  MapboxNavigation/InstructionLabel.swift
  MapboxNavigation/NavigationViewController.swift
  MapboxNavigation/RouteMapViewController.swift
  MapboxNavigationTests/CarPlayManagerTests.swift
  MapboxNavigationTests/LaneTests.swift
  MapboxNavigationTests/LeaksSpec.swift
  MapboxNavigationTests/NavigationViewControllerTests.swift
  MapboxNavigationTests/RouteControllerSnapshotTests.swift
  MapboxNavigationTests/StepsViewControllerTests.swift
  RouteTest/AppDelegate.swift
Labels: - feature, - refactor, epic, ongoing, topic: telemetry, wip, ✓ ready for review

#1749 Make NavigationMapView’s frame rate more easily configurable
  CHANGELOG.md
  MapboxNavigation/CarPlayNavigationViewController.swift
  MapboxNavigation/NavigationMapView.swift
  MapboxNavigation/RouteMapViewController.swift
Labels: - performance, - refactor, topic: camera, topic: location

#1751 Service yo-yo fix
  MapboxCoreNavigation/NavigationService.swift
Labels: - bug, High Priority, Injection Work, quick fix

#1750 Ability to swipe InstructionsBannerView
  CHANGELOG.md
  Examples/Swift/CustomViewController.swift
  Examples/Swift/ViewController.swift
  MapboxCoreNavigation/RouteProgress.swift
  MapboxNavigation/InstructionsBannerView.swift
  MapboxNavigation/InstructionsBannerViewLayout.swift
  MapboxNavigation/RouteMapViewController.swift
Labels: - feature, topic: instructions
